name: Build Paper

on:
  push:
  pull_request:

jobs:
  build:
    name: Paper build
    runs-on: ubuntu-22.04
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    strategy:
      fail-fast: false
      matrix:
        latex-entry:
          - sample-bachelor
          - sample-kaitireport
          - sample-master

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            make tree cloc \
            fontconfig \
            ttf-mscorefonts-installer

      - name: Prepare directories for LaTeX include
        run: |
          mkdir -p data/sample

      - name: Load local fonts
        run: |
          mkdir -p local_fonts
          curl -L https://github.com/dolbydu/font/raw/master/unicode/SimSun.ttc -o local_fonts/SimSun.ttc
          curl -L https://github.com/dolbydu/font/raw/master/unicode/SimHei.ttf -o local_fonts/SimHei.ttf
          curl -L https://github.com/dolbydu/font/raw/master/unicode/STXingkai.TTF -o local_fonts/STXingkai.ttf
          curl -L https://github.com/dolbydu/font/raw/master/unicode/STKaiti.TTF -o local_fonts/STKaiti.ttf
          fc-cache -f

      - name: Compile ${{ matrix.latex-entry }}.tex
        uses: xu-cheng/latex-action@v3
        with:
          root_file: ${{ matrix.latex-entry }}.tex
          latexmk_use_xelatex: true
          latexmk_shell_escape: true
          extra_fonts: local_fonts

      - name: Check output
        run: ls -al *.pdf

      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.latex-entry }}
          path: ${{ matrix.latex-entry }}.pdf
